<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.diegolamanno.alfredbitmoji</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0CB90253-3388-4F93-AF38-1D6AD9A19DCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A192BF-A8FB-4EB3-AED9-CEE68577604B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A737F1DC-3E18-4DEC-ADFA-B03D78F27FC4</key>
		<array/>
		<key>BE6AD824-AF4A-4740-A25C-21CF62158C24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBFB6C7A-7FAE-4978-823F-BA313E5A4A46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0C149A9-8419-4415-90D1-38951EDE54C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B65540-C450-4313-AD09-5B612F4792EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4D83392-4B71-454A-AA2B-F0DC68AACD9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B176566D-30FA-4763-9C4C-27AA369BD230</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E80D2B6F-0027-4683-95DB-A16876CC9E58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE6AD824-AF4A-4740-A25C-21CF62158C24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E937AA2C-FC46-4078-8A4D-363B819997DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3705240-3856-4506-939F-EE758BB0346B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3705240-3856-4506-939F-EE758BB0346B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0C149A9-8419-4415-90D1-38951EDE54C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C4D83392-4B71-454A-AA2B-F0DC68AACD9E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Simple URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A737F1DC-3E18-4DEC-ADFA-B03D78F27FC4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9A192BF-A8FB-4EB3-AED9-CEE68577604B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA7FBB63-02BC-4535-AA75-E36AEA590D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Diego La Manno</string>
	<key>description</key>
	<string>Get your Bitmoji comic directly from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Bitmoji</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>![bitmoji]({query}&amp;width=246)</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C0C149A9-8419-4415-90D1-38951EDE54C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Comic URL copied to clipboard</string>
				<key>title</key>
				<string>Bitmoji M⬇️</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E9B65540-C450-4313-AD09-5B612F4792EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Comic URL copied to clipboard</string>
				<key>title</key>
				<string>Bitmoji ⚙️</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B176566D-30FA-4763-9C4C-27AA369BD230</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C4D83392-4B71-454A-AA2B-F0DC68AACD9E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E937AA2C-FC46-4078-8A4D-363B819997DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bitmoji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for cool kittens...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Bitmoji images</string>
				<key>title</key>
				<string>Bitmoji</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3705240-3856-4506-939F-EE758BB0346B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A737F1DC-3E18-4DEC-ADFA-B03D78F27FC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bitmoji-update</string>
				<key>subtext</key>
				<string>Update bitmoji templates DB</string>
				<key>text</key>
				<string>Bitmoji update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E80D2B6F-0027-4683-95DB-A16876CC9E58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Templates DB updated</string>
				<key>title</key>
				<string>Bitmoji</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FBFB6C7A-7FAE-4978-823F-BA313E5A4A46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bitmoji-setup</string>
				<key>subtext</key>
				<string>Provide your user ID</string>
				<key>text</key>
				<string>Bitmoji setup</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB90253-3388-4F93-AF38-1D6AD9A19DCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>User ID set</string>
				<key>title</key>
				<string>Bitmoji</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA7FBB63-02BC-4535-AA75-E36AEA590D65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl https://api.bitmoji.com/content/templates &gt; ./node_modules/libmoji/build/json/templates.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE6AD824-AF4A-4740-A25C-21CF62158C24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

FILE=.env
if [ -f "$FILE" ]; then
	echo "USER_ID=$query" &gt; .env
else 
	touch .env
    echo "USER_ID=$query" &gt;&gt; .env
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9A192BF-A8FB-4EB3-AED9-CEE68577604B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This worflow allows you to use a the Bitmoji API directly from Alfred.

It uses the templates provided by Bitmoji in a similar way how the Chrome extension works.

Disclaimer: 
- You might need to run `yarn install` from the workflow folder to install dependencies. Still trying to figure that out</string>
	<key>uidata</key>
	<dict>
		<key>0CB90253-3388-4F93-AF38-1D6AD9A19DCE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Flow to initialize bitmoji workflow</string>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>A737F1DC-3E18-4DEC-ADFA-B03D78F27FC4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Collects URL and opens it in browser</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>B176566D-30FA-4763-9C4C-27AA369BD230</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>BE6AD824-AF4A-4740-A25C-21CF62158C24</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>C0C149A9-8419-4415-90D1-38951EDE54C6</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Collects comic URL and wraps it in Markdown syntax</string>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C4D83392-4B71-454A-AA2B-F0DC68AACD9E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Collects comic URL and copies it as it comes</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>CA7FBB63-02BC-4535-AA75-E36AEA590D65</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>E80D2B6F-0027-4683-95DB-A16876CC9E58</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Updates json dump from bitmojis templates API</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>E937AA2C-FC46-4078-8A4D-363B819997DC</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>E9B65540-C450-4313-AD09-5B612F4792EE</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>F3705240-3856-4506-939F-EE758BB0346B</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Main script! This is the brains of the workflow and where everything happens</string>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>F9A192BF-A8FB-4EB3-AED9-CEE68577604B</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>FBFB6C7A-7FAE-4978-823F-BA313E5A4A46</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bitmoji-api</key>
		<string>https://api.bitmoji.com/content/templates</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.diegolamanno.com</string>
</dict>
</plist>
